---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import "../../index.css";
import { css } from "../../../styled-system/css";
import PageHead from "../../components/PageHead.astro";
import SideBar from "../../components/SideBar.astro";
import PostsTemplate from "../../components/PostsTemplate.astro";

const posts = (await getCollection("reports")).sort(
  (a, b) => Date.parse(b.data.pubDate) - Date.parse(a.data.pubDate),
);
---

<Layout title="活動報告" path="/reports">
  <div class={css({ maxWidth: "1400px", margin: "0 auto", pb: "2rem" })}>
    <PageHead> 活動報告 </PageHead>
    <div
      class={css({
        display: "flex",
        justifyContent: "space-between",
        flexDirection: "column",
        xl: { flexDirection: "row" },
      })}
    >
      <PostsTemplate posts={posts} />
      <SideBar />
    </div>
  </div>
</Layout>
