---
import { css } from "../../styled-system/css";
import PageHead from "../components/PageHead.astro";
import "../index.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="プロフィール" path="/profile">
  <main class={css({ maxWidth: "1400px", mx: "auto", pb: "3rem" })}>
    <PageHead> プロフィール </PageHead>
    <p>Markdown here</p>
  </main>
</Layout>
