---
import { css } from "../../styled-system/css";
import PageHead from "../components/PageHead.astro";
import "../index.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="研究成果" path="/study">
  <PageHead> 研究成果 </PageHead>
  <p>Markdown here</p>
</Layout>
