---
import { css } from "../../styled-system/css";
import "../index.css";
import Layout from "../layouts/Layout.astro";
import PageHead from "../components/PageHead.astro";
---

<Layout title="研究内容" path="/study">
  <PageHead> 研究内容 </PageHead>
  <p>Markdown here</p>
</Layout>
