---
import { css } from "../../styled-system/css";
interface Props {
  srcList: string[];
  width?: string;
  caption?: string;
}
const { srcList, width = "100%", caption = "" } = Astro.props;
---

<figure
  class={css({
    mx: "auto",
  })}
  style={{
    width: width,
  }}
>
  <div
    class={css({
      display: "grid",
      gridTemplateColumns: "repeat(1, 1fr)",
      md: {
        gridTemplateColumns: "repeat(2, 1fr)",
      },
      gap: "1rem",
    })}
  >
    {
      srcList.map((src, index) => (
        <img loading="lazy" src={src} alt={`${caption}_${index}`} />
      ))
    }
  </div>
  {
    caption && (
      <figcaption
        class={css({
          color: "#666",
        })}
      >
        {caption}
      </figcaption>
    )
  }
</figure>
