---
import { css } from "../../styled-system/css";
---

<h1
  id="page-title"
  class={css({
    fontSize: "2rem",
    fontWeight: "bold",
    letterSpacing: "0.03em",
    margin: "2.5rem 0 1.5rem 2rem",
    _after: {
      content: "''",
      display: "block",
      width: "7.5%",
      height: "2.5px",
      backgroundColor: "#e96656",
      marginTop: "0.5rem",
    },
  })}
>
  <slot />
</h1>
