---
import { css } from "../../styled-system/css";
import PageHead from "../components/PageHead.astro";
import SideBar from "../components/SideBar.astro";
import "../index.css";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} path={frontmatter.path}>
  <div class={css({ maxWidth: "1400px", mx: "auto", pb: "3rem" })}>
    <PageHead> {frontmatter.title}</PageHead>
    <div
      class={css({
        display: "flex",
        justifyContent: "space-between",
        flexDirection: "column",
        xl: { flexDirection: "row" },
      })}
    >
      <main class={css({ px: "1.5rem", md: { px: "3rem" } }) + " markdown"}>
        <slot />
      </main>
      <SideBar />
    </div>
  </div>
</Layout>
