---
import { css } from "../../styled-system/css";
import PageHead from "../components/PageHead.astro";
import "../index.css";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} path={frontmatter.path}>
  <main class={css({ maxWidth: "1400px", mx: "auto", pb: "3rem" })}>
    <PageHead> {frontmatter.title}</PageHead>
    <section class="markdown">
      <slot />
    </section>
  </main>
</Layout>

<style>
  .markdown {
    padding: 0 3rem;
    h1 {
      font-size: 2em;
      font-weight: bold;
      margin-top: 0.5em;
    }
    h2 {
      font-size: 1.5em;
      font-weight: bold;
      margin-top: 0.5em;
    }
    h3 {
      font-size: 1.25em;
      font-weight: bold;
      margin-top: 0.5em;
    }
    h4 {
      font-size: 1.1em;
      font-weight: bold;
      margin-top: 0.5em;
    }
    h5 {
      font-size: 1em;
      font-weight: bold;
    }
    h6 {
      font-size: 1em;
      font-weight: bold;
    }
    p {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    code {
      padding: 0.1em 0.25em;
      border-radius: 0.25em;
    }
    ul {
      list-style-type: disc;
      margin: 0;
      padding: 0;
    }
    ul ul {
      list-style-type: circle;
      margin-left: 20px;
    }

    a {
      color: #e11d48;
      text-decoration: underline;
    }

    blockquote {
      border-left: 4px solid #ccc;
      padding: 0.2em 1em;
      margin: 1em;
    }

    hr {
      border: 0;
      background-color: #ccc;
      height: 2px;
      margin: 1.5em 0;
    }
  }
</style>
